body {
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
}
#appRoot {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: #000;
    .title {
        font-size: 18px;
        color: #fff;
        font-weight: 900;
    }
    .subTitle {
        font-size: 12px;
        color: #fff;
    }

    #toDoList {
        .todoListBox{
            .emptyList{
                color: #fff; font-size: 12px;
                margin: 20px 5px;
            }
            .addButton{

            }

            .deleteButton{

            }
        }
        .deleteAllButton{

        }

        button {
            background-color: #ff9900;
            border: 2px solid #333;
            padding: 3px;
            color: #fff;
            font-size: 11px;
            border-radius: 3px;
        }
    }
}

